---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

export const prerender = true;

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();

const title = entry.data.title
  ? entry.data.title
  : 'sayyedulawwab | portfolio';
const author = 'Muhammad Sayyedul Awwab';
const description = entry.data.title
  ? entry.data.title
  : "Software Engineer with 2+ years of hands-on experience and passionate about building scalable, reliable and maintainable systems using .NET Core, Clean Architecture, Domain-Driven Design (DDD), CQRS, Microservices, etc. Eager to excel in the software engineering track, I aspire to evolve into a seasoned Software Architect. Whether you're seeking a skilled software engineer committed to continuous learning and innovation, let's connect. I'm excited to explore how my expertise can contribute to the success of your projects.";
---

<BaseLayout title={title} author={author} description={description}>
  <div class="prose md:prose-lg">
    <Content />
  </div>
</BaseLayout>
