---

---

<header class="w-4/5 mx-auto text-lg py-2">
  <nav class="flex justify-between">
    <div>
      <a href="/">
        <strong>Muhammad Sayyedul Awwab</strong>
      </a>
      <div>
        <div></div>
      </div>
    </div>
    <!-- <ul class="flex">
      <li>
        <a href="#skills" class="px-2">Skills</a>
      </li>
      <li>
        <a href="#projects" class="px-2">Projects</a>
      </li>
      <li>
        <a href="#contact" class="px-2">Contact</a>
      </li>
    </ul> -->
  </nav>
</header>
