---
import ProjectCard from './ProjectCard.astro';

import { info } from '../data/info';
---

<section id="projects" class="mb-10">
  <h2 class="font-bold text-2xl">Recent Projects</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 py-10">
    {info.projects.map(project => <ProjectCard project={project} />)}
  </div>
</section>
