/*------------------------------------*\
		# BASE STYLES
\*------------------------------------*/

/* import Fonts */
@font-face {
  font-family: 'FiraCode';
  src: url('./assets/fonts/FiraCode-Medium.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'FiraCode-Bold';
  src: url('./assets/fonts/FiraCode-Bold.ttf');
  font-display: swap;
}

/* reset some style */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

/* Typography */

html,
body {
  font-family: 'FiraCode', sans-serif;
  scroll-behavior: smooth;
  transition: all 0.3s;
}

/*------------------------------------*\
	# LAYOUT
\*------------------------------------*/
/* navbar */
nav {
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 5px 10px 1px rgba(240, 240, 240, 1);
}
nav div {
  display: flex;
  justify-content: space-between;
}

nav ul a:hover,
nav ul a:focus {
  border-bottom: 2px solid #0099ff;
}

.menu-list {
  display: none;
}
.responsive {
  display: block;
}
nav ul li {
  padding: 0 1rem;
  list-style: none;
}

/* hamburger menu */

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
  width: 1.5rem;
  height: 0.3rem;
  background: #000;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 0.3rem;
  background: #000;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-0.5rem);
}
.menu-btn__burger::after {
  transform: translateY(0.5rem);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-1rem);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(1rem, -1rem);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(1rem, 1rem);
}

/* Main content */
main {
  width: 70%;
  margin: 0 auto;
  padding: 5rem 0;
}
main section {
  padding-top: 4rem;
}
/* Intro section */

.profile-pic {
  width: 15rem;
  border-radius: 50%;
}

.icons {
  width: 1.5rem;
  margin: 0 0.5rem 0 0;
}

.intro-section {
  text-align: center;
}

.intro-section .icons {
  padding: 1rem 0;
}

.social-icons:hover {
  width: 1.8rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}
.skill-col {
  padding: 1rem 3rem 0 0;
}

.skill {
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
}
.projects {
  display: grid;
  gap: 1.5rem;
}

.project-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
}

.project-card:hover {
  transform: scale(1.03);
}
.project-card img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  object-position: top;
}
.project-card a {
  color: #0099ff;
}
.project-card a:hover {
  color: #0028db;
  text-decoration: underline;
}
.project-techlist-header,
.project-techlist {
  text-align: left;
  font-size: 0.9rem;
}

.project-techlist-header {
  font-weight: bold;
}
.project-techlist {
  list-style: none;
}
.project-techlist li {
  display: inline-block;
  margin: 0.5rem 0.5rem 0 0;
  padding: 0.1rem 0.9rem;
  border-radius: 1.25rem;
  background-color: #d3dfdf;
}
/* Footer */

footer {
  background-color: #f0f0f0;
  color: #000000;
  padding: 2rem;
}
footer a {
  color: #000000;
}
footer .social-icons {
  transform: translateY(10px);
}

footer section {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.copyright {
  text-align: center;
  padding-top: 1rem;
}

/*------------------------------------*\
		# MEDIA QUERIES
\*------------------------------------*/
/* Tablet (screen size >=768px) */
@media only screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-evenly;
  }
  .menu-btn {
    display: none;
  }
  .menu-list,
  .responsive {
    display: flex;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0;
  }

  .intro-section {
    display: flex;
    gap: 5rem;
    text-align: left;
    align-items: center;
  }
}
/* Laptop (screen size>=1024px) */
@media only screen and (min-width: 1024px) {
  .intro-section {
    gap: 10rem;
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Laptop L (screen size>=1440px) */
@media only screen and (min-width: 1440px) {
  /*------------------------------------*\
		# BASE STYLES
\*------------------------------------*/
  html,
  body {
    font-size: 1.2rem;
  }
}
/* 4K (screen size>=2560px) */
@media only screen and (min-width: 2560px) {
  /*------------------------------------*\
		# BASE STYLES
	\*------------------------------------*/
  html,
  body {
    font-size: 1.4rem;
  }
}
