---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const { title, author, description } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content={author} />
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <!-- Google tag (gtag.js) -->
    <script
      async
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-KNPHGYLQ36"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      // This should ALWAYS be set before the gtag("config", "G-XXXXXXXXXX"); line
      gtag('consent', 'default', {
        ad_storage: 'denied',
        ad_user_data: 'denied',
        ad_personalization: 'denied',
        analytics_storage: 'denied',
      });

      gtag('config', 'G-KNPHGYLQ36');
    </script>
  </head>
  <body>
    <Header />
    <main class="w-4/5 mx-auto text-lg min-h-screen my-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
