---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const { title, author, description, pageUrl } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content={author} />
    <meta name="description" content={description} />
    <link rel="canonical" href=`https://sayyedulawwab.com${pageUrl}` />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-KNPHGYLQ36"></script>
  </head>
  <!-- Google tag (gtag.js) -->
  <script is:inline type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-KNPHGYLQ36');
  </script>
  <body>
    <Header />
    <main class="w-4/5 mx-auto text-lg min-h-screen my-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
